        <div class="social-share">
            <!-- Twitter Button -->
            <a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical" data-via="twitterapi" data-lang="en">Tweet</a>
            <script>
                !function(d,s,id){
                    var js,fjs=d.getElementsByTagName(s)[0];
                    if(!d.getElementById(id)){
                        js=d.createElement(s);
                        js.id=id;
                        js.src="https://platform.twitter.com/widgets.js";
                        fjs.parentNode.insertBefore(js,fjs);
                    }
                }
                (document,"script","twitter-wjs");
            </script>

            <!-- Facebook SDK -->
            <script>
                window.fbAsyncInit = function() {
                    FB.init({
                        appId : '1711727462386086',
                        xfbml : true,
                        version    : 'v2.1'
                    });
                };

                (function(d, s, id){
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) {return;}
                    js = d.createElement(s); js.id = id;
                    js.src = "//connect.facebook.net/en_US/sdk.js";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
            </script>

            <!-- Facebook Button -->
            <div id="fb-root" style="display:inline;"></div>
            <script>
                (function(d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s); js.id = id;
                    js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=218596128182792";
                    fjs.parentNode.insertBefore(js, fjs);
               }(document, 'script', 'facebook-jssdk'));
            </script>
            <div class="fb-like" style="display:inline;" data-href="{{ site.url }}{{ page.url }}" data-width="200" data-layout="box_count" data-action="like" data-show-faces="true" data-share="false"></div>


            <!-- Google Plus Button -->
            <div class="g-plusone" data-size="tall"></div>

            <script type="text/javascript">
                (function() {
                    var po = document.createElement('script');
                    po.type = 'text/javascript';
                    po.async = true;
                    po.src = 'https://apis.google.com/js/platform.js';
                    var s = document.getElementsByTagName('script')[0];
                    s.parentNode.insertBefore(po, s);
                })();
            </script>


            <!-- Hacker News Button -->
            <a href="https://news.ycombinator.com/submit" class="hn-button" data-count="vertical" data-style="twitter">Vote on Hacker News</a>
            <script type="text/javascript">
                var HN=[];
                HN.factory=function(e){
                    return function(){
                        HN.push([e].concat(Array.prototype.slice.call(arguments,0)))
                    };
                },
                HN.on=HN.factory("on"),
                HN.once=HN.factory("once"),
                HN.off=HN.factory("off"),
                HN.emit=HN.factory("emit"),
                HN.load=function(){
                    var e="hn-button.js";
                    if(document.getElementById(e)){
                        return;
                    }
                    var t=document.createElement("script");
                    t.id=e,
                    t.src="//hn-button.herokuapp.com/hn-button.js";
                    var n=document.getElementsByTagName("script")[0];
                    n.parentNode.insertBefore(t,n)
                },
                HN.load();
            </script>
        </div>
