<div class="content" id="home">
    <div id="sidebar-button">
        <img src="/images/sidebar-button.png">
    </div>
    <div id="post-info">
        <!--<div id="cover-photo-container">
            <img id="cover-photo" src="/images/{{ page.cover }}">
        </div>-->
        <div id="info-container">
            <h1 id="title">Archive</h1>
        </div>
    </div>

    {%for post in site.posts %}
        {% unless post.next %}
            <h3>This Year</h3><br>
            <ul class="this" style="list-style-type: none;">
        {% else %}
            {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
            {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
            {% if year != nyear %}
                </ul>
                <br><br>
                <h3>{{ post.date | date: '%Y' }}</h3><br>
                <ul class="past" style="list-style-type: none;">
            {% endif %}
        {% endunless %}
        <li>
            <time>
                {{ post.date | date:"%d %b" }}
            </time>
            <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
    {% endfor %}
</div>
